<?xml version="1.0"?>
<launch>

	<include file="$(find pure_pursuit_controller)/launch/nav.launch" />
	
	<node pkg="tf" type="static_transform_publisher" name="transform_baselink_to_laser" args="0.11 0 0.29 0 0 0 base_link laser 10" />
 	<node pkg="tf" type="static_transform_publisher" name="transform_baselink_to_imu" args="0 0 0 0 0 0  base_link imu_link 10" />
	<node pkg="tf" type="static_transform_publisher" name="transform_baselink_to_basefootprint" args="0 0 0 0 0 0 1 base_footprint base_link 10" />
 	<node pkg="tf" type="static_transform_publisher" name="transform_baselink_to_gps" args="0.29 0 0.1 0 0 0 1 base_link gps_link 10" />

	


	<node pkg="tf" type="static_transform_publisher" name="beacon_imu_broadcaster" args="0 0 0 0 0 0 base_footprint beacon_imu_link 100" />

 	<node pkg="tf" type="static_transform_publisher" name="beacon_map_broadcaster" args="0 0 0 0 0 0 beacon_map map 100" />

	
 <rosparam command="load" file="$(find mmp30_navigation)/config/robot_localization/indoor/dual_ekf_navsat_example.yaml" />


        <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true">
                <remap from="odometry/filtered" to="odometry/continuous" />
        </node>

        <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
                <remap from="odometry/filtered" to="odometry/map"/>
        </node>

  
</launch>



